{% extends 'admin-Layout.html' %}
{% block content %}
<h2>Page de profil : <a href="{{ app.request.basepath }}/membre/{{user.username}}">{{user.username}}</a></h2>
<h3>Rang:</h3>
<p>
    rang actuel: {{user.roleHumain}}
</p>
<p>
    Modifier rang: {{form(form)}}
</p>
<h3>Questionnaire ZrtCraft</h3>

{% if questionaire is not null %}
<h4>date de création: le {{questionaire.date.format('Y-m-d')}}</h4>
<h4>age du membre:{{questionaire.user.age}} ans</h4>
{% for reponse in questionaire.reponses %}
    <span class="question">{{loop.index}}) {{reponse.question.intitule}}</span>
    <br/>
    {{reponse.reponse}}
    <br/>
{% endfor %}
<br/>
<p>
    Si vous valider ce formulaire pensez a whitelister le membre sur le serveur.
    Si vous le refuser le memebre poura soumetre un nouveau formulaire. Il est préférable de prévenir le membre du refus
    pour lui en indiquer les raisons.
</p>
<div class="btn-group droite">
    <a href="{{ app.request.basepath }}/admin/questionaire/validate/{{questionaire.id}}/validate" class="btn btn-default" role="button">Valider formulaire</a>
    <a href="{{ app.request.basepath }}/messagerie/newmp/{{questionaire.user.id}}" class="btn btn-default" role="button">Envoyer un mp au membre</a>
    <a href="{{ app.request.basepath }}/admin/questionaire/validate/{{questionaire.id}}/refutate" class="btn btn-default" role="button">Refuser le formulaire</a>
</div>
{% else %}

<p>
    Le membre n'a pas encore rempli le questionnaire
</p>

{% endif%}


{% endblock %}
