{% extends 'admin-Layout.html' %}
{% block content %}

<div class="container col-md-10">
    <h3>Nombre de visites</h3>
    <div id="chart2" style="width:90%;height:260px;"></div>
    <div id="customTooltipDiv" style="width:10%;">I'm a tooltip.</div>
</div>
<div class="container col-sm-10 col-md-5">
    <h3>Répartition des navigateurs</h3>
    <div id="chart3" style="margin-top:20px; margin-left:20px; width:460px; height:300px;"></div>
</div>

{% endblock %}
{% block includeJS %}

<script type="text/javascript" src="{{ app.request.basepath }}/lib/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/lib/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/lib/jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/lib/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/lib/jqplot/plugins/jqplot.pieRenderer.min.js"></script>

<script class="code" language="javascript" type="text/javascript">

$(document).ready(function(){

    var userConnexion =
        [
        {% for nb in visitsUser %}
            {{ nb }},
        {% endfor %}
        ];

    var guestConnexion =
        [
        {% for nb in visitsGuest %}
            {{ nb }},
        {% endfor %}
      ];

    var ticks =
        [
        {% for day in days %}
            [ {{loop.index}} ,'{{ day.format('Y-m-d') }}' ],
        {% endfor %}
        ];

    var plot2 = $.jqplot('chart2',[ userConnexion, guestConnexion],{
       stackSeries: true,
       showMarker: false,
       highlighter: {
        show: true,
        showTooltip: false
       },
       seriesDefaults: {
           fill: true,
       },
       series: [
        {label: 'Utilisateurs'},
        {label: 'Visiteurs anonymes'},
       ],
       legend: {
        show: true,
        placement: 'outsideGrid'
       },
       grid: {
        drawBorder: false,
        shadow: false
       },
       axes: {
           xaxis: {
              ticks: ticks,
              tickRenderer: $.jqplot.CanvasAxisTickRenderer,
              tickOptions: {
                angle: -70
              },
              drawMajorGridlines: false
          },
          yaxis: {
              min:0,
          }
        }
    });

    // capture the highlighters highlight event and show a custom tooltip.
    $('#chart2').bind('jqplotHighlighterHighlight',
        function (ev, seriesIndex, pointIndex, data, plot) {
            // create some content for the tooltip.  Here we want the label of the tick,
            // which is not supplied to the highlighters standard tooltip.
            var content = 'Nombre de '+plot.series[seriesIndex].label + '<br/>le ' + plot.series[seriesIndex]._xaxis.ticks[pointIndex][1] + ':<br/> ' + data[1];
            // get a handle on our custom tooltip element, which was previously created
            // and styled.  Be sure it is initiallly hidden!
            var elem = $('#customTooltipDiv');
            elem.html(content);
            // Figure out where to position the tooltip.
            var h = elem.outerHeight();
            var w = elem.outerWidth();
            var left = ev.pageX - w - 10;
            var top = ev.pageY - h - 10;
            // now stop any currently running animation, position the tooltip, and fade in.
            elem.stop(true, true).css({left:left, top:top}).fadeIn(200);
        }
    );

    // Hide the tooltip when unhighliting.
    $('#chart2').bind('jqplotHighlighterUnhighlight',
        function (ev) {
            $('#customTooltipDiv').fadeOut(300);
        }
    );

});


$(document).ready(function(){
    var navigator=[
        {% for navigator in navigators %}
            ['{{navigator['navigator']}}',{{navigator['nb']}}],
        {% endfor %}
    ];
  plot2 = jQuery.jqplot('chart3',[navigator,],
    {
      title: ' ',
      seriesDefaults: {
        shadow: false,
        renderer: jQuery.jqplot.PieRenderer,
        rendererOptions: {
          startAngle: 180,
          sliceMargin: 4,
          showDataLabels: true }
      },
      legend: { show:true, location: 'w' }
    }
  );
});

</script>

{% endblock %}
{% block includeHead %}
<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/lib/jqplot/jquery.jqplot.min.css" />
{% endblock %}
