<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% block includeHead %}
    {% endblock %}
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/admin-style.css" rel="stylesheet">

    <title>Admin panel</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
			MENU
			</button>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ app.request.basepath }}/admin">
				Panel d'administration
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ app.request.basepath }}/" target="_blank">Voir le site</a></li>
				<li class="dropdown ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ app.security.token.user.username }}
						<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('logout') }}">Log out</a></li>
                            <li><a href="/user/{{ app.security.token.user.username }}">Mon profil</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>  	<div class="container-fluid main-container">
  		<div class="col-md-2 sidebar">
  			<div class="row">
	<!-- uncomment code for absolute positioning tweek see top comment in css -->
	<div class="absolute-wrapper"> </div>
	<!-- Menu -->
	<div class="side-menu">
		<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ app.request.basepath }}/admin"><i class="fa fa-area-chart"></i></span> Statistiques</a></li>


                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdownZrt-lvl1">
                            <img class="logoSection img-circle" alt="ZrtCommunity" src="{{ app.request.basepath }}/img/Section/zrtcraft.png">
                            ZrtCraft<span class="caret"></span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdownZrt-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ app.request.basepath }}/admin/zrtcraft/forum"><i class="fa fa-list-alt"></i> Administration forum </a></li>
                                    <li><a href="{{ app.request.basepath }}/admin/questionaire"><i class="fa fa-newspaper-o"></i> Questionaire inscription serveur </a></li>
                                    <li><a href="{{ app.request.basepath }}/admin/regionprojet"><i class="fa fa-globe"></i> Administration régions-projets</a></li>
                                    <li><a href="{{ app.request.basepath }}/admin/reglement"><i class="fa fa-graduation-cap"></i> Réglement</a></li>
                                    <li><a href="{{ app.request.basepath }}/admin/zrtcraft/staff"><i class="fa fa-users"></i> Staff</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdownWow-lvl1">
                            <img class="logoSection img-circle" alt="ZrtCommunity" src="{{ app.request.basepath }}/img/Section/wow-horde.png">
                            WoW<span class="caret"></span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdownWow-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ app.request.basepath }}/admin/wow/forum"><i class="fa fa-list-alt"></i> Administration forum </a></li>
                                    <li><a href="{{ app.request.basepath }}/admin/wow/staff"><i class="fa fa-users"></i> Staff</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdownlol-lvl1">
                            <img class="logoSection img-circle" alt="ZrtCommunity" src="{{ app.request.basepath }}/img/Section/lol.png">
                            Lol<span class="caret"></span>
                        </a>
                        <!-- Dropdown level 1 -->
                        <div id="dropdownlol-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{{ app.request.basepath }}/admin/lol/forum"><i class="fa fa-list-alt"></i> Administration forum </a></li>
                                    <li><a href="{{ app.request.basepath }}/admin/lol/staff"><i class="fa fa-users"></i> Staff</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

					<li class="panel panel-default" id="dropdown">
						<a data-toggle="collapse" href="#dropdown-lvl1">
							<span class="glyphicon glyphicon-user"></span>Gestion des utilisateurs<span class="caret"></span>
						</a>
						<!-- Dropdown level 1 -->
						<div id="dropdown-lvl1" class="panel-collapse collapse">
							<div class="panel-body">
								<ul class="nav navbar-nav">
									<li><a href="{{ app.request.basepath }}/admin/users/list">Liste</a></li>
									<li><!--<a href="{{ app.request.basepath }}/admin/users/warn">-->Signalements(en construction)<!--</a>--></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>

			</div><!-- /.navbar-collapse -->
		</nav>

	</div>
</div>  		</div>
  		<div class="col-md-10 content">
  			  <div class="panel panel-default">
	<div class="panel-heading">
		{{panelname}}
	</div>
    <div class="container">
    {% if success|default(null) %}
    <div class="alert alert-success" role="alert">{{success}}</div>
    {% endif %}
    {% if danger|default(null) %}
    <div class="alert alert-danger" role="alert">{{danger}}</div>
    {% endif %}

    {% block content %}{% endblock %}
    </div>
</div>
  		</div>
  		<footer class="pull-left footer">
  			<p class="col-md-12">
  				<hr class="divider">
                  <span class="glyphicon glyphicon-copyright-mark"></span>
                  Copyright Zrtcommunity 2015, Site développé par
                  <a href="{{ app.request.basepath }}/Nydareld">Nydareld</a>.
                  <br>
  				Snippet panel admin par <a href="http://www.pingpong-labs.com">Gravitano</a>
  			</p>
  		</footer>
  	</div>
      <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.2.min.js"></script>
      <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
      <script src="{{ app.request.basepath }}/js/admin-panel.js"></script>
      {% block includeJS %}
      {% endblock %}
</body>

</html>
