{% extends 'admin-Layout.html' %}
{% block content %}
<div class="container region">
<h3>Nouvelle Categorie</h3>
{{form(form1)}}
<h3>Nouvelle Sous-categorie d'une catégorie</h3>
{{form(form3)}}
<h3>Nouvelle Sous-categorie d'une sous-catégorie</h3>
{{form(form2)}}
<h3>Arboerssance du forum</h3>
{% if adminSection %}
<p>
Attention, Suprimer une partie du forum implique la supression ireversibre de tout ses sous catégories, topics et messages.
</p>
{% endif %}
{%for cat in arbo %}
<br>
<div class="regle">
<h4>
    {{cat.name}}
    {% if adminSection %}
    <a href="{{ app.request.basepath }}/admin/forum/categorie/delete/{{cat.id}}" class="btn btn-default" role="button">Supprimer</a>
    {% endif %}
</h4>
    <div class="decale">
        {% include "admin-forum-sCatChild.html" with {'childs':cat.childs, 'adminSection': adminSection} only %}
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
{% block includeHead %}
<link href="{{ app.request.basepath }}/lib/ckeditor-full/contents.css" rel="stylesheet">
<script src="{{ app.request.basepath }}/lib/ckeditor-full/ckeditor.js"></script>
{% endblock %}
