{%for child in childs%}

<div class="regle">
<a href="{{ app.request.basepath }}/forum/souscategorie/{{child.id}}">
    {{child.name}}
</a>
, {{child.topics|length}} topics
{% if adminSection %}
    <a href="{{ app.request.basepath }}/admin/forum/souscategorie/delete/{{child.id}}" class="btn btn-default" role="button">Supprimer</a>
{% endif %}
{% if child.childs %}
<div class="decale">
    {% include "admin-forum-sCatChild.html" with {'childs': child.childs} %}
</div>
{% endif %}
</div>
{% endfor %}
