{% extends 'layout-'~section~'.html' %}
{% block content %}

<!--<div id="panel-gauche" class="col-md-3">
    <div class="item-panel-gauche">
        <h3>Lorem ipsum</h3>
        <p>
            Homines enim eruditos et sobrios ut infaustos et inutiles vitant, eo quoque accedente quod et nomenclatores adsueti haec et talia venditare, mercede accepta lucris quosdam et prandiis inserunt subditicios ignobiles et obscuros.
        </p>
    </div>
    <div class="item-panel-gauche">
        <h3>Lipsum motrem</h3>
        <p>
            Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito rectore nullus egere poterit victu.
        </p>
    </div>
</div>

<div id="panel-droit" class="col-md-9">-->
<div id="panel-droit" class="col-md-12">

</div>
{% for cat in categories%}
{% if not cat.admin or modo %}
<table class="table forum">
    <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                <h3>{{cat.name}}</h3>
            </th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Sujets</th>
            <th class="cell-stat text-center hidden-xs hidden-sm">Messages</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Dernier message</th>
        </tr>
    </thead>
    <tbody>
    {% for scat in cat.childs %}
        <tr>
            <td class="text-center"><!--<i class="fa fa-question fa-2x text-primary"></i>--></td>
            <td>
                <h4>
                    <a href="{{ app.request.basepath }}/{{section}}/forum/souscategorie/{{scat.id}}">{{scat.name}}</a><br>
                    <p id="scat-desc">{{scat.description}}</p>
                    {% for sscat in scat.childs %}
                    <a href="{{ app.request.basepath }}/{{section}}/forum/souscategorie/{{sscat.id}}" class="sscat">{{sscat.name}},</a>
                    {% endfor %}
                </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">{{scat.nbTopics}}</td>
            <td class="text-center hidden-xs hidden-sm">{{scat.nbMessages}}</td>
            <td class="hidden-xs hidden-sm last-message">
            {% if scat.lastMessage is not null %}
                dans le topic
                <a href="{{ app.request.basepath }}/{{section}}/forum/topic/{{scat.lastMessage.topic.id}}/last">{{scat.lastMessage.topic.name}}</a>
                par <a href="{{ app.request.basepath }}/membre/{{scat.lastMessage.auteur.username}}">{{scat.lastMessage.auteur.username}}</a><br>
                le {{scat.lastMessage.date.format('Y-m-d')}} à {{scat.lastMessage.date.format('H:i:s')}}
            {% else%}
                pas de messages ici pour l'instant.
            {% endif %}
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endfor %}
</div>

{% endblock %}
{% block active %}nav-forum{% endblock %}
