{% extends 'layout.html' %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Bienvenue sur PecheO'coup</h1>
    <p>
        Ce site a pour but de vous presenter les différentes peches au coup grace a des petits articles et des news.
        Nous formons une comunauté de passionés et nos articles d'initiations sont destinés aux débutants qui souaitent apprendre
        mais aussi aux pecheurs confirmés en quête de nouvlles astuces pour leurs peches.
        <br /><br />
        Nous vous proposons de parcourir nos articles pour découvire les différents types de peches au coup, mais aussi nos news
        pour rester a jours sur les nouvelles sorties de materiel, les compétitions ou les journées de peches organisées par
        nos membres. Enfin allez faire un tour du coté du forum pour echanger avec nous et faire partie de notre petite comunauté.
        <br /><br />
        Bonne visite à vous.

    </p>
  </div>
</div>


{% endblock %}
