{% extends 'layout-'~section~'.html' %}
{% block content %}

<div class="jumbotron">
    <div id="panel-gauche" class="droite col-md-4">
        <div class="item-panel-gauche">
            <h3>Adresses importantes:</h3>
            <h4>Teamspeak:</h4>
            <p>
                ts.root.gg:9999
            </p>
            <h4>Serveur minecraft:</h4>
            <p>
                zrtcraft.zrtcommunity.net<br>(Whitelist-on cf section zrtcraft)
            </p>
            <h4>Site du Maître-Fougere:</h4>
            <p>
                <a href="http://zerator.com/">zerator.com</a>
            </p>

        </div>
    </div>

  <div class="container">
    <h2>Bienvenue sur Zrtcommunity</h2>

    <p>
        Le site est un site communautaire autours du streamer Zerator. Il a été crée par un bénévole de la communauté
        pour la communauté et est géré par la communauté. Zerator n'en est ni l'initiateur ni le responsable. Il est
        uniquement tenue au courant du projet.
    </p>
    <p>
        La communauté est présente sur différents jeux, principalement World Of Warcraft et Minecraft et dispose d'un
        serveur TeamSpeak(ouvert a tous) et Minecraft(se reporter à la section Minecraft)
    </p>
  </div>
</div>

{% endblock %}
{% block active %}nav-acceuil{% endblock %}
