<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% block includeHead %}
    {% endblock %}
    <link rel="icon" type="image/png" href="/img/fougere.png" />
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/lib/toastr/toastr.css" rel="stylesheet"/>
    <link href="{{ app.request.basepath }}/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/style.css?v=1.0" rel="stylesheet">

    <title>Zrtcommunity - {{title}}</title>
</head>
<body>

    <nav id="nav1" class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ app.request.basepath }}/">
                  <img id="minilogo" alt="ZrtCommunity" src="{{ app.request.basepath }}/img/minilogo.png">
              </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li id="nav-acceuil"><a href="{{ app.request.basepath }}/">Accueil</a></li>
                <li id="nav-forum"><a href="{{ app.request.basepath }}/forum">Forum</a></li>
                <li id="nav-news"><a href="{{ app.request.basepath }}/news">News</a></li>
                <li id="nav-pres"><a href="{{ app.request.basepath }}/">Présentation</a></li>
                <li id="nav-projet"><a href="{{ app.request.basepath }}/projet">Projets</a></li>
                <li id="nav-reglement"><a href="{{ app.request.basepath }}/reglement">Réglment</a></li>
            </ul>
        </div>
    </nav>
    <header>
        <img class="header-logo"src="{{ app.request.basepath }}/img/groslogo.png" alt="Banner Image"/>
    </header>
    <nav id="nav2" class="navbar">
        <div class="container">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_MODO') %}
                <li class="nav2-li"><a class="nav2-item" href="{{ app.request.basepath }}/admin">Panel Admin</a></li>
                {% endif %}
                {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}

                <li class="nav2-li">
                    {% if app.security.token.user.path is not null %}
                    <a class="nopadding" href="/membre/{{ app.security.token.user.username }}">
                        <img src="{{app.security.token.user.webPath}}" alt="..." class="avatar-layout img-circle">
                    </a>
                    {% else %}
                    <a href="/membre/{{ app.security.token.user.username }}">
                        <i class="fa fa-user fa-lg"></i>
                    </a>
                    {% endif %}
                </li>

                <li class="dropdown nav2-li">
                    <a class="nav2-item nav2-item-user dropdown-toggle" data-toggle="dropdown">
                    </span></span>{{ app.security.token.user.username }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('logout') }}">Log out</a></li>
                            <li><a href="/membre/{{ app.security.token.user.username }}">Mon profil</a></li>
                        </ul>
                </li>
                <li class="dropdown nav2-li">
                    <a class="nav2-item dropdown-toggle" data-toggle="dropdown" >
                        <i id="social" class="fa fa-bell fa-lg social-bell"></i>
                        {% set notifs = app.security.token.user.notif %}
                    {% if notifs|length !=0 %}
                        <span class="badge badge-notify">{{ notifs|length }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for uneNotif in notifs %}
                            <li>
                                <a href="{{ app.request.basepath }}/notification/{{uneNotif.id}}{{uneNotif.path}}">
                                    {{uneNotif.message}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a>Pas de notification</a>
                        </li>
                    </ul>
                    {% endif %}
                </li>
                <li class="nav2-li">
                    <a class="nav2-item" href="{{ app.request.basepath }}/messagerie/inbox">
                            <i id="social" class="fa fa-envelope fa-lg social-mess"></i>
                            {% if app.security.token.user.nonLu!=0 %}
                                <span class="badge badge-notify">{{ app.security.token.user.nonLu }}</span>
                            {% endif %}
                    </a>
                </li>
                <!--<li class="nav2-li"><a class="nav2-item" href="{{ app.request.basepath }}/"><i id="social" class="fa fa-star fa-lg social-star"></i></a></li>-->
                <li class="nav2-li"><a class="nav2-item" href="{{ app.request.basepath }}/member/edit"><i id="social" class="fa fa-cog fa-lg social-sett"></i></a></l
                {% else %}
                <li class="dropdown nav2-li">
                    <a class="nav2-item nav2-item-user dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-lg"></i></span> Non connecté <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('login') }}">Connexion</a></li>
                            <li><a href="{{ path('inscription') }}">Inscription</a></li>
                        </ul>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <div class="container">
    {% if success|default(null) %}
    <div class="alert alert-success" role="alert">{{success}}</div>
    {% endif %}
    {% if danger|default(null) %}
    <div class="alert alert-danger" role="alert">{{danger}}</div>
    {% endif %}

    {% block content %}{% endblock %}
    </div>

    <footer id="zrtinfo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
    			<div class="col-lg-3 col-md-6">
                <div class="container">

            <div class="col-lg-2 col-xs-12">
                    <img src="{{ app.request.basepath }}/img/logo.png" class="img-rounded logo-footer">
            </div>
            <div class="col-lg-5 col-xs-12">
    		<h3>A propos</h3>
                <ul>
				<li>Nombre de <a href="{{ app.request.basepath }}/membres">membres</a> inscrits: {{ app['info'].nbuser }} </li>
				<li>Nombre de topcs sur le <a href="{{ app.request.basepath }}/forum">forum</a>: {{ app['info'].nbtopic }}</li>
				<li>Nombre de messages postés: {{ app['info'].nbmess }}</li>
				</ul>
            </div>
           <div class="col-lg-5 col-xs-12">
                <h3>Reseaux sociaux:</h3>
    			<p>rejoignez-nous sur les reseaux sociaux pour ne rater aucunes informations ou contactez nous dirrectement:</p>
                <a href="https://www.facebook.com/ZrTCraft"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                <a href="https://twitter.com/ZrtCraft"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                <a href="https://plus.google.com/+ZrtCraft/"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
                <a href="https://www.youtube.com/c/ZrtCraft"><i id="social" class="fa fa-youtube-square fa-3x social-yt"></i></a>
                <a href="zrtcraft@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
           </div>
           </div>
           </div>
           </div>
           </div>
       </div>

        </footer>

        <footer id="copyright">
            <div class="container">
                <p>
                    <a href="{{ app.request.basepath }}/"> Politique de confidentialitée </a>|
                    <a href="{{ app.request.basepath }}/"> Conditions d'utilisations </a>
                    <br/>
                    <span class="glyphicon glyphicon-copyright-mark"></span>
                    Copyright Zrtcommunity 2015, Site développé par
                    <a href="{{ app.request.basepath }}/Nydareld">Nydareld</a>.
                </p>
             </div>
        </footer>

    <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.2.min.js"></script>
    <script src="{{ app.request.basepath }}/lib/toastr/toastr.js"></script>
    <script src="{{ app.request.basepath }}/lib/toastr/config.js"></script>
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/navscroll.js"></script>
    {% block includeJS %}{% endblock %}

    <script>
    document.getElementById( "{% block active %}{% endblock %}").className += " active";
    </script>
    <!--class="active"-->

</body>
</html>
