{% extends 'layout.html' %}

{% block navbarLeft %}
<li><img class="logoLaBonneSection img-circle" alt="ZrtCommunity" src="{{ app.request.basepath }}/img/Section/zrtcraft.png"></li>
    <li id="nav-acceuil"><a href="{{ app.request.basepath }}/zrtcraft/presentation">Présentation</a></li>
    <li id="nav-forum"><a href="{{ app.request.basepath }}/zrtcraft/forum">Forum</a></li>
    <li id="nav-news"><a href="{{ app.request.basepath }}/zrtcraft/news">News</a></li>
    <li id="nav-projet"><a href="{{ app.request.basepath }}/projet">Projets</a></li>
    <li id="nav-reglement"><a href="{{ app.request.basepath }}/reglement">Réglment</a></li>
{% endblock %}
