{% extends 'mp.html' %}
{% block messages %}
{% for message in mess %}
<div class="list-group">
    <a href="#" class="list-group-item unmessage">
        {% if not message.lu %}
        <i class="fa fa-2x red fa-exclamation"></i>
        {% endif %}
        <span class="name" style="min-width: 120px;
            display: inline-block;">{{message.auteur.username}}</span> <span class="">{{message.titre}}</span>
        <span
            class="badge">{{message.date.format('H:i:s')}}</span> <span class="pull-right">
        </span></a>
</div>
{% endfor %}
{% endblock %}
