{% extends 'layout.html' %}
{% block content %}

{% for unenews in news %}
<div class="news">
    <div class="news-header">
    <p class="droite">
        par <a href="/membre/{{unenews.creator.username}}">{{unenews.creator.username}}</a>
        <br/>le {{unenews.date.format('Y-m-d')}} à {{unenews.date.format('H:i:s')}}
        <br/>
    </p>
    <h3>{{unenews.name}}</h3>
    </div>
    <hr/>
    <div class="news-body">
        {{unenews.contenu[:400]|raw}}... <a href="/news/{{unenews.id}}">Lire la news.</a>
    </div>
    <hr/>
    <div class="news-comm">
        <p>Nombre de commentaires: {{unenews.nombrecomm}}</p>
    </div>
</div>
{% endfor %}

{% endblock %}
