{% extends 'layout.html' %}
{% block content %}
<h3>Preview avatar</h3>
<div id="preview"></div>

{{form(form)}}
{% endblock %}

{% block includeHead %}
{% if editor is defined %}
<link href="{{ app.request.basepath }}/lib/{{editor}}/contents.css" rel="stylesheet">
{% else %}
<link href="{{ app.request.basepath }}/lib/ckeditor-standard/contents.css" rel="stylesheet">
{% endif %}
{% endblock %}
{% block includeJS %}
{% if editor is defined %}
<script src="{{ app.request.basepath }}/lib/{{editor}}/ckeditor.js"></script>
{% else %}
<script src="{{ app.request.basepath }}/lib/ckeditor-standard/ckeditor.js"></script>
{% endif %}

<script>

function previewFile(){

        var newImg=document.createElement('img');
        newImg.setAttribute('class','avatar-profile img-circle user-mod-preview');

       var preview = document.getElementById("preview"); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           newImg.src = reader.result;
       }

       if (file) {
           if(preview.firstChild){
               preview.removeChild(preview.firstChild);
           }
           reader.readAsDataURL(file); //reads the data as a URL
           preview.appendChild(newImg);
       } else {
           preview.src = "";
       }
  }

  previewFile();

</script>
{% endblock %}
