{% extends 'layout-zrtcraft.html' %}
{% block content %}

<div class="listeProjet">
<h2>Liste des projets</h2>
<div class="btn-group droite">
    {% if app.security.token and is_granted('ROLE_TARD') %}
    <a href="{{ app.request.basepath }}/projet/newprojet" class="btn btn-default" role="button">Nouveau projet</a>
    {% endif %}
    <a href="{{ app.request.basepath }}/projet/regions" class="btn btn-default" role="button">Liste des régions</a>
</div>
<p>
Vous pouvez chercher un projet dans la liste grace aux parametres de recherche ou bien créer le votre.
<br/>
Noubliez pas de lire la description des régions afin d'en choisir une qui coresspond a votre projet.
</p>

<table class="table table-striped">
<thead> <!-- En-tête du tableau -->
    <tr>
        <th class="cell-stat">Nom du projet</th>
        <th class="cell-stat-4x">Région</th>
        <th class="cell-stat-2x">Nombre de membres</th>
        <th class="cell-stat-2x">Date</th>
        <th class="cell-stat-1x">Recrute</th>
        <th class="cell-stat-1x">Terminé</th>
    </tr>
</thead>
<tbody>
{% for projet in projets %}
<tr>
    <td><a href="{{ app.request.basepath }}/projet/{{projet.id}}">{{projet.name}}</a></td>
    <td><a href="{{ app.request.basepath }}/projet/region/{{projet.region.id}}">{{projet.region.name}}</td>
    <td>{{projet.membresProjets|length}}</td>
    <td>{{projet.date|date("m/d/Y")}}</td>
    <td class="projet-check-center">
        {% if projet.recrute %}
        <i class="fa fa-2x green droite fa-check-circle-o"></i>
        {% else %}
        <i class="fa fa-2x red droite fa-times-circle-o"></i>
        {% endif %}
    </td>
    <td class="projet-check-center">
        {% if projet.finished %}
        <i class="fa fa-2x green droite fa-check-circle-o"></i>
        {% else %}
        <i class="fa fa-2x red droite fa-times-circle-o"></i>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
{% block active %}nav-projet{% endblock %}
