{% extends 'layout.html' %}
{% block content %}
<div class="questionaire">
<h3>Voici re questionaire que vous avez soumis à la modération pour votre inscription au serveur:</h3>
{% if questionaire.accepted%}
<h4>Ce questionaire a été validé</h4>
{% else %}
<h4>Ce questioanire est en cours de validation</h4>
{% endif %}
{% for reponse in questionaire.reponses %}
    <span class="question">{{loop.index}}) {{reponse.question.intitule}}</span>
    <br/>
    {{reponse.reponse}}
    <br/>
{% endfor %}
</div>

{% endblock %}
