{% extends 'layout-'~section~'.html' %}

{% block content %}
<div id="lalist" class="box jplist">
<table class="table sous-categorie">
    <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                <h3>{{scat.name}}</h3>
                {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ app.request.basepath }}/{{section}}/forum/souscategorie/newtopic/{{scat.id}}" class="btn btn-default droite">Nouveau sujet</a>
                {% endif %}
            </th>
            <th class="cell-stat-2x text-center hidden-xs hidden-sm">Nombre de réponses</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Dernier message</th>
        </tr>
    </thead>
    <tbody class=" list box">
    {% for topic in scat.topics %}
        <tr class="list-item box">
            <td class="text-center">
              {% if topic.close %}
              <i class="fa fa-4x fa-lock"></i>
              {% endif %}
            </td>
            <td>
                <h4>
                    <a href="{{ app.request.basepath }}/{{section}}/forum/topic/{{topic.id}}/last">{{topic.name}}</a><br>
                    <p id="scat-desc">{{topic.description}}</p>
                </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">{{topic.nbMessages-1}}</td>
            <td class="hidden-xs hidden-sm last-message">
                par <a href="{{ app.request.basepath }}/membre/{{topic.lastMessage.auteur.username}}">{{topic.lastMessage.auteur.username}}</a><br>
                le {{topic.lastMessage.date.format('Y-m-d')}} à {{topic.lastMessage.date.format('H:i:s')}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="jplist-panel box panel-bottom droite" style="margin-bottom:20px;">

    <div
	   class="jplist-drop-down"
       data-control-type="items-per-page-drop-down"
	   data-control-name="paging"
	   data-control-action="paging">
       <ul>
           <li><span data-number="10"> 10 par page </span></li>
           <li><span data-number="20" data-default="true"> 20 par page </span></li>
           <li><span data-number="50"> 50 par page </span></li>
           <li><span data-number="all"> view all </span></li>
       </ul>
				</div>

				<div
				   class="jplist-label"
				   data-type="{start} - {end} of {all}"
				   data-control-type="pagination-info"
				   data-control-name="paging"
				   data-control-action="paging">
               </div>

				<div
				   class="jplist-pagination"
				   data-control-type="pagination"
				   data-control-name="paging"
				   data-control-action="paging">
				</div>

</div>
</div>
{% endblock %}

{% block includeJS %}
<link href="{{ app.request.basepath }}/lib/free-pagination-bundle/css/jplist-core.min.css" rel="stylesheet" type="text/css" />
<link href="{{ app.request.basepath }}/lib/free-pagination-bundle/css/jplist-pagination-bundle.min.css" rel="stylesheet" type="text/css" />
<script src="{{ app.request.basepath }}/lib/free-pagination-bundle/js/jplist-core.min.js"></script>
<script src="{{ app.request.basepath }}/lib/free-pagination-bundle/js/jplist.pagination-bundle.min.js"></script>

<script>

$('document').ready(function(){

   //check all jPList javascript options
   $('#lalist').jplist({
      itemsBox: '.list'
      ,itemPath: '.list-item'
      ,panelPath: '.jplist-panel'
   });

});

</script>

{% endblock %}

{% block active %}nav-forum{% endblock %}
