{% extends 'layout.html' %}

{% block content %}
<table class="table sous-categorie">
    <thead>
        <tr>
            <th class="cell-stat"></th>
            <th>
                <h3>{{scat.name}}</h3>
                {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ app.request.basepath }}/forum/souscategorie/newtopic/{{scat.id}}" class="droite">Nouveau sujet</a>
                {% endif %}
            </th>
            <th class="cell-stat-2x text-center hidden-xs hidden-sm">Nombre de réponses</th>
            <th class="cell-stat-2x hidden-xs hidden-sm">Dernier message</th>
        </tr>
    </thead>
    <tbody>
    {% for topic in scat.topics %}
        <tr>
            <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
            <td>
                <h4>
                    <a href="{{ app.request.basepath }}/forum/topic/{{topic.id}}">{{topic.name}}</a><br>
                    <p id="scat-desc">{{topic.description}}</p>
                </h4>
            </td>
            <td class="text-center hidden-xs hidden-sm">{{topic.nbMessages-1}}</td>
            <td class="hidden-xs hidden-sm last-message">
                par <a href="{{ app.request.basepath }}/membre/{{topic.lastMessage.auteur.username}}">{{topic.lastMessage.auteur.username}}</a><br>
                le {{topic.lastMessage.date.format('Y-m-d')}} à {{topic.lastMessage.date.format('H:i:s')}}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
