{% extends 'layout.html' %}

{% block content %}
<table class="table topic-message">
    <tr>
        <td class="cell-stat-2x topic-member">{{topic.messages[0].auteur.username}}</td>
        <td class="topic-message-contenu">
            <h3 class="topic-message-title">{{topic.name}}</h3>
            <p class="topic-message-date">le {{topic.messages[0].date.format('Y-m-d')}} à {{topic.messages[0].date.format('H:i:s')}}</p>
            <hr/>
            <p>
                {{topic.messages[0].contenu}}
            </p>
        </td>
    </tr>
</table>
{% for message in topic.messages[1:] %}
<table class="table topic-message">
    <tr>
        <td class="cell-stat-2x topic-member">{{message.auteur.username}}</td>
        <td class="topic-message-contenu">
            <p>
            {{message.contenu}}
            </p>
            <hr/>
            <p class="topic-message-date">le {{message.date.format('Y-m-d')}} à {{message.date.format('H:i:s')}}</p>
        </td>
    </tr>
</table>
{% endfor %}
{% endblock %}
