{% extends 'layout.html' %}
{% block content %}
<div class="container unProjet">

<div class="container col-md-6 droite listeMembreProjet">
<div class ="container col-md-6 ligne-droite">
    <h3>Statut du projet</h3>
    <p>
        {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') and app.security.token.user == projet.createur %}
        <a href="{{ app.request.basepath }}/projet/editprojet/{{projet.id}}">
        modifier le projet ou les membres
        </a>
        {% endif %}
    </p>
    <p>
    Validé par la modération:
        {% if projet.accepted %}
            <i class="fa fa-2x green droite fa-check-circle-o"></i>
        {% else %}
            <i class="fa fa-2x red droite fa-times-circle-o"></i>
            {% if app.security.token and is_granted('ROLE_MODO') %}
            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                <a href="{{ app.request.basepath }}/projet/validate/{{projet.id}}/validate" class="btn btn-success" role="button">
                    Valider
                </a>
                <a href="{{ app.request.basepath }}/messagerie/newmp/{{projet.createur.id}}" class="btn btn-warning" role="button">
                    Envoyer MP
                </a>
                <a href="{{ app.request.basepath }}/projet/validate/{{projet.id}}/refutate" class="btn btn-danger" role="button">
                    Refuser
                </a>
            </div>
            {% endif %}
        {% endif %}
    </p>
    <p>
    Terminé:
        {% if projet.finished %}
        <i class="fa fa-2x green droite fa-check-circle-o"></i>
        {% else %}
        <i class="fa fa-2x red droite fa-times-circle-o"></i>
        {% endif %}
    </p>
</div>
<div class="container col-md-6">
<h3>Liste des membres</h3>
<h4>Ajout de membre bientot disponible</h4>
<table class="table">
<thead> <!-- En-tête du tableau -->
    <tr>
        <th class="cell-stat">Pseudo</th>
        <th class="cell-stat-4x">Fonction</th>
    </tr>
</thead>
<tbody>
{% for membre in projet.membresProjets %}
    <tr>
        <th><a href="{{ app.request.basepath }}/member/{{membre.user.id}}">{{membre.user.username}}</a></th>
        <th>{{membre.alias}}</th>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
<div class="entete-projet">
    <h2>{{projet.name}}</h2>
    <h4>Région: <a href="{{ app.request.basepath }}/projet/region/{{projet.region.id}}">{{projet.region.name}}</a> ({{projet.region.descriptionRapide}})</h4>
</div>
{{projet.description|raw}}
</div>

{% endblock %}
