{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <h2>Liste des membres</h2>
    <div class="col-lg-12">
        <input type="search" class="form-control" id="input-search" placeholder="élément de recherche" onchange="search()" >
        <br/>
    </div>
    <div class="searchable-container">

        {% for user in users %}
        <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-4 clearfix">
           <div class="info-block block-info clearfix">
                <div class="square-box pull-left">
                    <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                </div>

                <a href="{{ app.request.basepath }}/membre/{{user.username}}"><h4>{{user.username}}</h4></a>
                <p>
                    Roles :
                    <br/>
                    {{user.roleHumain}}
                    <br/>
                    Email :
                    <br/>
                    {{user.email}}
                </p>

            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}

{% block includeJS %}
<script src="{{ app.request.basepath }}/js/searchUser.js"></script>
{% endblock %}
