{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <h2>Liste des membres</h2>
    <div class="col-lg-12">
        <input type="search" class="form-control" id="input-search" placeholder="élément de recherche" onchange="search()" >
        <br/>
    </div>
    <div class="searchable-container">

        {% for user in users %}
        <div class="items col-xs-12 col-sm-6 col-md-3 col-lg-2 clearfix">
           <div class="info-block block-info clearfix">
               <div class="user-card">
                   <a href="{{ app.request.basepath }}/membre/{{user.username}}"><h3>{{user.username}}</h3></a>
                   {% if user.path is not null %}
                   <img src="{{user.webPath}}" alt="..." class="avatar-profile avatar-user-card img-circle">
                   {% endif %}
                   <h4 class="rank-profil">{{user.roleHumain}}</h4>
               </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}

{% block includeJS %}
<script src="{{ app.request.basepath }}/js/searchUser.js"></script>
{% endblock %}
