{% extends 'layout.html' %}
{% block content %}

<div class="row user-profil">
    <div class="panel-gauche col-sm-12 col-md-3">
        <div class="item-panel-gauche">
            <h3>{{user.username}}</h3>
            {% if user.path is not null %}
            <img src="{{user.webPath}}" alt="..." class="avatar-profile img-circle">
            {% endif %}
            <h4 class="rank-profil">{{user.roleHumain}}</h4>
        </div>
    </div>
    <div id="panel-droit" class="user-info col-sm-12 col-md-9">
        <div class="btn-group droite">
            {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') and app.security.token.user == user %}
            <a href="{{ app.request.basepath }}/member/edit" class="btn btn-default" role="button">Modifier profil</a>
            <a href="{{ app.request.basepath }}/member/questionaire" class="btn btn-default" role="button">Questionnaire d'inscription à ZrtCraft</a>
            {% elseif app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ app.request.basepath }}/messagerie/newmp/{{user.id}}" class="btn btn-default" role="button">Envoyer message privé</a>
            {% endif %}
        </div>
        <h4>Signature forum</h4>
        <p>
            {{user.sign|raw}}
        </p>
        <h4>A propos de {{user.username}}</h4>
        <p>
            {{user.biographie|raw}}
        </p>
    </div>
</div>

{% endblock %}
